<main class="">
    <section class="row bg-dark-subtle rounded-3" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">Pizzeria In Forno</h1>
        <p class="lead">Prenota dove vuoi e quando vuoi comodamente dalla nostra app.I prodotti arriveranno direttamente a casa tua sia a pranzo che a cena.</p>
     
    </section>
    <div class="row m-3 ">
        <section class="col-md-4 bg-dark-subtle rounded-3 " aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Effettua il login</h2>
            <p>Registrati per effettuare un ordine o effettua un login se sei gia nostro cliente</p>
            <p><a class="btn btn-outline-primary" href="https://go.microsoft.com/fwlink/?LinkId=301870">Login</a></p>
            <p><a class="btn btn-outline-primary" href="https://go.microsoft.com/fwlink/?LinkId=301870">Registrati</a></p>
        </section>
        <section class="col-md-4 bg-dark-subtle rounded-3 " aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4 bg-dark-subtle rounded-3 " aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
        </section>>
    </div>
</main>