



<main class="bg-dark p-4">
    <section class="row bg-dark-subtle rounded-3 text-center" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle" class="text-primary">Pizzeria In Forno</h1>
        <p class="lead">Prenota dove vuoi e quando vuoi comodamente dalla nostra app.I prodotti arriveranno direttamente a casa tua sia a pranzo che a cena.</p>

    </section>
    <div class="d-flex gap-3 mt-3  ">
        <section class=" bg-dark-subtle rounded-3  text-center mt-auto mb-auto p-5 " aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle"  class="text-primary">Effettua il login</h2>
            <p>Registrati per effettuare un ordine o effettua un login se sei gia nostro cliente</p>
            <div class=" text-center ">
                <a class="btn btn-outline-primary" href="/Home/Login">Login</a>
                <a class="btn btn-outline-primary" href="/Home/register">Registrati</a>
            </div>
        </section>
        <section class=" bg-dark-subtle rounded-3 p-3 " aria-labelledby="librariesTitle">
            <h2 id="librariesTitle"  class="text-primary">Inserisci i tuoi dati personali per effettuare un ordine</h2>
            <p>Inserisci il tuo indirizzo per far arrivare nostri prodotti a casa tn pochi minuti</p>
            <p><a class="btn btn-outline-dark" href="/home/CreateCliente">Dati personali</a></p>
        </section>
       
    </div>


</main>
<div class="bg-danger text-white text-center mx-auto w-50 rounded-4 mt-4 ">
    <h4>Prenota subito</h4>
    <h3>389 568 789 45673</h3>
</div>