@model w16_1.Models.Clienti
@{
    ViewBag.Title = "SelectCliente";
}

<h2>Le tue informazioni personali</h2>
<strong>Nome</strong>
<p>@Html.DisplayFor(model => model.Nome)</p>
<strong>Cognome</strong>
<p>@Html.DisplayFor(model => model.Cognome)</p>
<strong>Indirizzo di consegna</strong>
<p>@Html.DisplayFor(model => model.Indirizzo)</p>
<strong>IdCliente</strong>
<p>@Html.DisplayFor(model => model.IdCliente)</p>
<a href="/Home/EditCliente/?id=@Html.DisplayFor(model => model.IdCliente)">Modifica credenziali</a>




